body {
  background: #eaffcd;
}
/* a {
  color: #000000;
  font-size: 50px;
  text-decoration: none;
} */
img {
  max-width: 90%;
}
table {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid #000000;
}
ul {
  /* list-style-type: circle; */
  /* list-style-type: square; */
  /* list-style-type: disc; */
  list-style-type: none;
}
ol {
}
h1,
p,
span,
strong {
  border: 1px solid red;
}
#title {
  background: red;
  color: #fff;
  padding: 10px;
}
.title {
  font-family: "Courier New", Courier, monospace;
}
.font-size {
  font-size: 20px;
}
iframe {
  border: 0;
}
